<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-8">
                <div class="custom-tab-content flex-column flex-md-row">
                    <div class="tab-content">
                        <!--<p> Seems like you have no any Vacancies yet</p>-->
                        <div>
                            <button class="btn btn-0 btn-primary btn-default" (click)="navigateCreateVacancy()">CREATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>