<!-- Navbar default -->
<nav class="navbar navbar-expand-lg navbar-dark bg-default">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['home']">HOME</a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a class="nav-link nav-link-icon" (click)="navigateHome()">HOME</a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" 
                                class="navbar-toggler" 
                                (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" 
                                aria-controls="navbar_global">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" (click)="onSubmit()" href="javascript:void(0)">LOGIN</a>
                    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">-->
                    <!--<span class="navbar-toggler-icon"></span>-->
                    <!--</button>-->
                </li>
                <li class="nav-item d-lg-block ml-lg-4" style="padding-top:0.5rem;" *ngIf="isEmpoyeeMode">
                    <a class="btn btn-neutral btn-icon" (click)="isEmpoyer()">
                        <span class="nav-link-inner--text">Employer</span>
                    </a>
                </li>
                <li class="nav-item d-lg-block ml-lg-4" style="padding-top:0.5rem;" *ngIf="!isEmpoyeeMode">
                    <a class="btn btn-neutral btn-icon" (click)="isEmpoyee()">
                        <span class="nav-link-inner--text">Employee</span>
                    </a>
                </li>
            </ul>
        </div>
            </div>
</nav>