<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-8">
                <div class="custom-tab-content flex-column flex-md-row">
                    <div class="tab-content">
                        <h3>{{vacantion.title}}</h3>
                        <h6>{{vacantion.wage}}</h6>
                        <h6>{{vacantion.company}}<span style="float:right;">Seatle</span></h6>
                        <h6>Description</h6>
                        <p class="description" style="padding-left:1rem; overflow-wrap: break-word; white-space: pre-wrap;">{{vacantion.description}}</p>
                        <div>
                            <button class="btn btn-0 btn-primary btn-default" (click)="navigateResume()">APPLY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>